* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #e8e6df;
}
/* nav */
nav {
	width: 100%;
	height: 70px;
	background-color: transparent;
	border: 2px solid rgb(5, 19, 90);
	font-family: 'Alata', sans-serif;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 10px;
}
.navArticle {
	display: flex;
	gap: 10px;
}
.navArticle p {
	color: #2b2b2b;
	margin-right: 10px;
}
nav li {
	list-style: none;
}
nav a {
	text-decoration: none;
	color: #2b2b2b;
}
/* section hero */
/* ========================DON'T FORGET======================== */
/* body news */
.bodyNews {
	width: 90%;
	margin: 10px auto;
	background: #e8e6df;
	padding: 10px;
	font-size: 1rem;

	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
}

/* cards */
.cardNews {
	width: 70%;
	height: 150px;
	padding: 5px;
	border: 2px solid rgb(39, 39, 39);

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.cardNews button {
	align-self: center;
	width: 90px;
	font-size: 1rem;
	padding: 5px;
	margin-right: 10px;
	background-color: transparent;
	border: 2px solid rgb(39, 39, 39);
}
.cardNews Button a {
	text-decoration: none;
	color: rgb(42, 118, 14);
	font-weight: 700;
	font-family: monospace;
}
.cardNews h4 {
	color: rgb(43, 43, 43);
	width: 62%;
	max-height: 100%;
	font-size: 3rem;
	overflow: scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;
	font-family: 'Alata', sans-serif;
	letter-spacing: -2px;
	padding-left: 10px;
}
.cardNews p {
	width: 20%;
	margin-top: 5px;
	font-family: 'Alata', sans-serif;
	color: rgb(220, 90, 19);
	font-size: 1rem;
	letter-spacing: -1px;
	padding-left: 5px;
	align-self: flex-end;
	margin-bottom: 5px;
}
/* search bar */
.searchBarContainer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}
.inputWrapper {
	background-color: white;
	width: 50%;
	border-radius: 10px;
	height: 2.5rem;
	padding: 0 15px;
	box-shadow: 0px 0px 8px #ddd;
	display: flex;
	align-items: center;
}
#searchInput {
	background-color: transparent;
	border: none;
	height: 100%;
	font-size: 1.25rem;
	width: 100%;
	margin-left: 5px;
}
input:focus {
	outline: none;
}
#searchIcon {
	color: royalblue;
}
